.border {
    border: 2px pink solid;
    border-radius: 10px;
    padding: 15px;
}

.blue {
    color: blue;
}

.circle {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.hover {
    color: red;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}
.hover:hover {
    color: blue;
    font-size: 40px;
}

.ballon {
    position: relative;
    display: flex;
    background-color: darkred;
    width: 200px;
    height: 600px;
    justify-content: center;
}
.ballon-heart {
    position: absolute;
    bottom: 0;
}

.fly {
    animation: moveUp 3s ease-in-out forwards; 
}
@keyframes moveUp {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 470px;
    }
}

.btn-start {
    background-color: red;
    color: white;
    height: 30px;
    width: 80px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}
.btn-start:hover {
    background-color: rgb(158, 4, 4);
}